<?xml version="1.0" encoding="UTF-8" ?>
<service id="email">
  <type>e-mail</type>
  <name>Email Service</name>
  <provider>email</provider>

  <!-- default settings (account settings have precedence over these) -->
  <template>
    <setting name="type" type="i">0</setting>
    <setting name="name">Generic Email Account</setting>
    <setting name="status" type="i">0</setting>
    <setting name="signature"></setting>
    <setting name="emailaddress"></setting>
    <setting name="enabled" type="b">false</setting>
    <group name="auth">
            <setting name="method">password</setting>
            <setting name="mechanism">password</setting>
    </group>
    <!-- Exclude default configuration
    <pop3>
      <setting name="server">pop3.example.com</setting>
      <setting name="port" type="i">143</setting>
      <setting name="encryption" type="b">0</setting>
      <setting name="canDelete" type="b">0</setting>
      <setting name="autoDownload" type="b">0</setting>
      <setting name="maxSize" type="i">102400</setting>
      <setting name="checkInterval" type="i">-1</setting>
      <setting name="intervalCheckRoamingEnabled" type="i">0</setting>
    </pop3>
    <imap4>
       <setting name="server">imap.example.com</setting>
       <setting name="port" type="i">110</setting>
       <setting name="encryption" type="b">0</setting>
       <setting name="canDelete" type="b">0</setting>
       <setting name="autoDownload" type="b">0</setting>
       <setting name="maxSize" type="i">102400</setting>
       <setting name="pushEnabled" type="b">0</setting>
       <setting name="baseFolder"></setting>
       <setting name="draftsFolder"></setting>
       <setting name="trashFolder"></setting>
       <setting name="junkFolder"></setting>
       <setting name="checkInterval" type="i">-1</setting>
       <setting name="intervalCheckRoamingEnabled" type="b">0</setting>
    </imap4>
    <smtp>
       <setting name="address">email@example.com</setting>
       <setting name="server">smtp.example.com</setting>
       <setting name="port" type="i">25</setting>
       <setting name="authentication" type="b">0</setting>
       <setting name="encryption" type="b">0</setting>
     </smtp>
     -->
  </template>

  <!-- preview account -->
  <preview>
    <parameters>
      <setting name="server">talkdemo.google.com</setting>
      <setting name="account">googledemo@gmail.com</setting>
      <setting name="password">demo</setting>
    </parameters>
    <setting name="display_name">GTalk demo</setting>
  </preview>

  <!-- type-specific data -->
  <type_data>
  </type_data>
</service>
